.DWES {
    background-color: #FF5733 !important;
  }
  
  .DAW {
    background-color: #3498DB !important;
  }
  
  .DWEC {
    background-color: #27AE60 !important; 
  }
  
  .DIW {
    background-color: #E74C3C !important;
  }
  
  .EIE {
    background-color: #F1C40F !important; 
  }
  
  .rec {
    background-color: #D5DBDB !important; 
  }
  
  .tut {
    background-color: #9B59B6 !important; 
  }
  
  .ANG {
    background-color: #F39C12 !important;
  }
  